$color-primary: ​#f2f2f2;
$color-text: ​#767e9e;
$color-bg-header: #2D303A;
$color-border-blue: #323746;
$color-bg-slider1: #f06c64;
$color-border-slider1: #EA676B;
$color-bg-slider2: #648bf0;
$color-bg-portfolio: #2d303a;
$color-heading: #666d89;
$color-border: #767e9e;
$color-white: #FFFFFF;

$content-width: 936px;
$tablet-width: 768px;
$mobile-width: 375px;
